/*
 * Board
 */
 .blue cg-board {
    background-image: url('images/board/blue.svg');
  }

  .merida piece.pawn.white {
    background-image: url('images/pieces/merida/wP.svg');
  }

  .merida piece.bishop.white {
    background-image: url('images/pieces/merida/wB.svg');
  }

  .merida piece.knight.white {
    background-image: url('images/pieces/merida/wN.svg');
  }

  .merida piece.rook.white {
    background-image: url('images/pieces/merida/wR.svg');
  }

  .merida piece.queen.white {
    background-image: url('images/pieces/merida/wQ.svg');
  }

  .merida piece.king.white {
    background-image: url('images/pieces/merida/wK.svg');
  }

  .merida piece.pawn.black {
    background-image: url('images/pieces/merida/bP.svg');
  }

  .merida piece.bishop.black {
    background-image: url('images/pieces/merida/bB.svg');
  }

  .merida piece.knight.black {
    background-image: url('images/pieces/merida/bN.svg');
  }

  .merida piece.rook.black {
    background-image: url('images/pieces/merida/bR.svg');
  }

  .merida piece.queen.black {
    background-image: url('images/pieces/merida/bQ.svg');
  }

  .merida piece.king.black {
    background-image: url('images/pieces/merida/bK.svg');
  }

  .alpha piece.pawn.white {
    background-image: url('images/pieces/alpha/wP.svg');
  }

  .alpha piece.bishop.white {
    background-image: url('images/pieces/alpha/wB.svg');
  }

  .alpha piece.knight.white {
    background-image: url('images/pieces/alpha/wN.svg');
  }

  .alpha piece.rook.white {
    background-image: url('images/pieces/alpha/wR.svg');
  }

  .alpha piece.queen.white {
    background-image: url('images/pieces/alpha/wQ.svg');
  }

  .alpha piece.king.white {
    background-image: url('images/pieces/alpha/wK.svg');
  }

  .alpha piece.pawn.black {
    background-image: url('images/pieces/alpha/bP.svg');
  }

  .alpha piece.bishop.black {
    background-image: url('images/pieces/alpha/bB.svg');
  }

  .alpha piece.knight.black {
    background-image: url('images/pieces/alpha/bN.svg');
  }

  .alpha piece.rook.black {
    background-image: url('images/pieces/alpha/bR.svg');
  }

  .alpha piece.queen.black {
    background-image: url('images/pieces/alpha/bQ.svg');
  }

  .alpha piece.king.black {
    background-image: url('images/pieces/alpha/bK.svg');
  }